@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500&display=swap');

:root {
  --color-primary-blue: rgb(72, 175, 255);
  --color-white: #ffffff;
  --color-grey: #909090;
  --color-primary-red: hsl(0, 94%, 66%);
  --color-secondary-grayblue: hsl(229, 8%, 60%);
  --color-secondary-darkblue: hsl(229, 31%, 21%);
}

html {
  height: 100vh;
  font-size: 62.5%;
}

body {
  height: 100%;
  background-color: #f1f3f6;
  line-height: 1.6;
  // font-family: 'Rubik', sans-serif;
  font-family: 'Open Sans', 'Noto Nastaliq Urdu Draft', 'Roboto', 'Helvetica Neue', 'Helvetica',
    'Arial', sans-serif;
  font-size: 1.6rem;
  cursor: pointer;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
  color: #3f414d;
  font-weight: 400;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul,
ol {
  list-style: none;
  padding: unset;
  margin: unset;
  // display: flex;
  align-items: center;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

#app {
  height: 100%;
  margin: 0 auto;
  font-weight: normal;
}
