.header {
  min-height: 72px;
  background-color: var(--color-primary-blue);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 16px;

  &__icons {
    display: flex;
    align-items: center;
    gap: 16px;

    .logo__icon {
      width: 130px;
      height: 48px;
    }

    .bar__icon {
      width: 28px;
      height: 28px;
    }
  }

  &__buttons {
    display: flex;
    align-items: center;
    gap: 16px;
  }
}

.content {
  height: calc(100% - 72px);
  overflow: auto;
}
